image: maven:latest

test:
  stage: test
  script:
    - pwd
    - mkdir test-reports
    - curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
    - java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log &
    #- sh -e /etc/init.d/xvfb start
    - wget https://github.com/mozilla/geckodriver/releases/download/v0.21.0/geckodriver-v0.21.0-linux64.tar.gz
    - tar xvfz geckodriver-v0.21.0-linux64.tar.gz
    - mvn -e clean test

deploy:
  stage: deploy
  script:
    - mvn $MAVEN_CLI_OPTS deploy
  only:
    - master
