language: java
sudo: required
dist: trusty

jdk:
  - oraclejdk8
  - openjdk8

addons:
  chrome: stable

before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
 
before_script:
  #- export CHROME_BIN=/usr/bin/google-chrome
  - curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
  - java -jar selenium-server-standalone-3.5.3.jar &
  - wget https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 5
  #- sudo apt-get install -y libappindicator1 fonts-liberation
  #- wget https://github.com/mozilla/geckodriver/releases/download/v0.21.0/geckodriver-v0.21.0-linux64.tar.gz
  #- tar xvfz geckodriver-v0.21.0-linux64.tar.gz
  #- ls /home/travis/build/andreslopapa/AhorcadoWeb2/geckodriver
  #- ls /home/travis/build/andreslopapa/AhorcadoWeb2/chromedriver

script:
  - mvn clean test
