body{
	background-image:url("../images/saw.jpg");
	background-size:100% 100%;
    background-attachment: fixed;
}

.container{
	width: 50%;
	height:50%;
	color: white;
	margin:auto;
	text-align:center;
	vertical-align:center;
}

 img.hangman{
	background-color:white;
	max-width:none;
}

.crop-img{
	max-width:60px;
	height:60px;
	overflow:hidden;
	margin:auto;
}

.alphabet {
	display:block;
    list-style-type: none;
    margin:auto auto 0;
    padding:0;
    cursor: pointer;
    width:100%;
    text-align:center;
    font-size: 0;
}

.alphabet li {
    
    margin:0;
    padding:0;
    border:1px solid red;
    border-right:none;
    border-bottom:none;
    font-size: 18px;
    -moz-box-sizing:border-box;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:3.84%;
    color:white;
}

 .alphabet li:last-child {
    border-right: 1px solid red;
} 

.lastalphabet li{
	border-bottom:1px solid red;
}

.alphabet li:hover {
    color:red;
    background-color: lightgray;
}

.alphabet a{
	color:white;
	text-decoration:none;
}