<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AgregarLetra</servlet-name>
		<display-name>AgregarLetra</display-name>
		<description></description>
		<servlet-class>com.agiles.servlets.AgregarLetra</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestartGame</servlet-name>
		<display-name>RestartGame</display-name>
		<description></description>
		<servlet-class>com.agiles.servlets.RestartGame</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgregarLetra</servlet-name>
		<url-pattern>/AgregarLetra</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestartGame</servlet-name>
		<url-pattern>/RestartGame</url-pattern>
	</servlet-mapping>
</web-app>